<!DOCCTYPE HTML>

%header
  .main-header
    .main-header__left-box
      .main-header__left-box__home home
      .main-header__left-box__search search
    .main-header__center-box Vch@
    .main-header__right-box me

%body
  .left-contents
    .title
      .title__text MZMのみなさんのおかげでした
    .movie 
    .current-users
      .current-users__each-user コーサカ

  .right-contents
    .chat 
      .messages
        .message
      .form
