.message 
  .message__left-box
    .message__left-box__user-icon
  .message__upper-box
    .message__upper-box__user-name
    .message__upper-box__time
  .message__lower-box
    .message__lower-box__text
